<div class="container mb-4">
  <div class="hero rounded-3xl bg-white">
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">กรุณาอัพโหลดหลักฐานการชำระเงิน</span>
      </label>
      <form
        action="/order/<%=orderId%>"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="photo" class="file-input w-full max-w-xs" />
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2 justify-center"
          type="submit"
          value="Upload"
        >
          Upload
        </button>
      </form>
    </div>
  </div>
</div>
<!-- /container -->
<!-- /container -->
