<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/logo1.png" />

    <title>ไลฟ์ก้าวหน้า</title>



    <!-- js plugin -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css"
      rel="stylesheet"
    />

        <!-- Bootstrap core CSS -->
        <link
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css"
      />
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
      <!-- tailwind -->
      <link href="/css/output.css" rel="stylesheet" />
  
      <!-- Custom styles for this template -->
      <link href="/css/style.css" rel="stylesheet" />

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/147e879dd5.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="flex flex-col h-max min-h-screen justify-between">


