<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/logo1.png" />

    <title>ไลฟ์ก้าวหน้า</title>

    <!-- Bootstrap core CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- tailwind -->
    <link href="/css/output.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />

    <!-- js plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/147e879dd5.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- navbar -->
    <form action="/cart" method="POST">
      <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header" style="justify-content: center">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/">
                <img
                  src="/images/logo1.png"
                  style="height: auto; width: 100px; padding-left: 15px"
                />
              </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse navbar-center">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="/"
                    ><span
                      class="glyphicon glyphicon-home"
                      aria-hidden="true"
                    ></span>
                    Home <span class="sr-only"></span
                  ></a>
                </li>
                <%if(user){%> <%if(user.isAdmin){%>
                <%-include("bars/adminbar")-%> <%}else{%>
                <%-include("bars/userbar", {wallet: wallet})-%> <%}%> <%}else{%>
                <%-include("bars/nonuserbar")-%> <%}%>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- Fixed navbar -->
    </form>
  </body>
</html>
