
<div class="form-floating">
  <input
    type="text"
    name="fullName"
    class="form-control middle"
    id="fullNamefloatingInput"
    placeholder="ชื่อ-นามสกุล"
    
  />
</div>

<div class="form-floating">
  <textarea
    name="address"
    class="form-control middle"
    id="addressfloatingInput"
    placeholder="ที่อยู่"
    
  ></textarea>
</div>


    <div class="form-floating">
      <input
        name="city"
        class="form-control middle"
        id="cityfloatingSelectGrid"
        placeholder="จังหวัด"
        
      ></input>
    </div>



    <div class="form-floating">
      <input
        name="district"
        class="form-control middle"
        id="districtfloatingSelectGrid"
        placeholder="อำเภอ"
        
      ></input>
    </div>




    <div class="form-floating">
      <input
        name="subdistrict"
        class="form-control bottom"
        id="subdistrictfloatingSelectGrid"
        placeholder="ตำบล"
        
      ></input>
    </div>



    <div class="form-floating">
      <input
        name="postCode"
        class="form-control bottom"
        id="postCodefloatingSelectGrid"
        placeholder="รหัสไปรษณีย์"
        
      ></input>
    </div>


<p></p>
<div class="form-floating">
  <input
    type="tel"
    name="citizen"
    class="form-control top"
    id="citizen"
    placeholder="เลขบัตรประชาชน"
    minlength="13"
    maxlength="13"
    pattern="[0-9]{13}"
    
  />
</div>

<div class="form-floating">
  <input
    type="tel"
    name="phoneNumber"
    class="form-control bottom"
    id="phoneNumber"
    placeholder="เบอร์โทร"
    minlength="10"
    maxlength="10"
    pattern="[0]{1}[2,6,8,9]{1}[0-9]{8}"
    
  />
</div>
<p></p>
<p></p>
  <div class="form-floating">
    <input
      name="bank"
      class="form-control top"
      id="bankfloatingSelectGrid"
      placeholder="ธนาคาร"
      
    >

    </input>
  </div>


<div class="form-floating">
  <input
    type="text"
    name="bookBank"
    class="form-control middle"
    id="bookBank"
    placeholder="ชื่อบัญชีธนาคาร"
    
  />
</div>
<div class="form-floating">
  <input
    type="tel"
    name="bookBankNumber"
    class="form-control middle"
    id="bookBankNumber"
    placeholder="เลขบัญชีธนาคาร"
    minlength="8"
    
  />
</div>
<div class="form-floating">
  <input
    type="text"
    name="bookBankBranch"
    class="form-control bottom"
    id="bookBankBranch"
    placeholder="สาขาที่เปิดบัญชีธนาคาร"
    
  />
</div>
<p></p>
