<div class="container">
    <div class="row"style="padding: 25px;">
        <h3 class="panel-label">วันที่</h3>
        <div class="panel panel-default daybox">
          <div class="panel-body">
            <%=day%>
          </div>
        </div>
      </div>
    <div class="row">
      <a href="/<%=link%>">
        <div class="panel panel-default daybox" style="background-color: palegoldenrod; color: black;">
          <div class="panel-body">
            Back  
          </div>
        </div>
      </a>
    </div>
  </div>