<div class="container">
    <div class="row"style="padding: 25px;">
        <h3 class="panel-label">วันที่</h3>
        <div class="panel panel-default daybox">
          <div class="panel-body">
            <%=day%>
          </div>
        </div>
      </div>
      <%if(link){%>    
        <div class="row">
        <a href="/<%=link%>" style="text-decoration: none;">
          <div class="panel panel-default daybox" style="background-color: palegoldenrod; color: black;">
            <div class="panel-body">
              <p class="font" style="font-family: 'Tomorrow', sans-serif; margin: 0; padding: 5px;">Back</p>
            </div>
          </div>
        </a>
      </div>
      <%}%>

  </div>