<div>
  <!-- <label class="label justify-center ">
    <span class="label-text text-lg block sm:hidden"><%=ShowData%></span>
  </label> -->
  <div class="flex flex-col dashboarditems items-center justify-center">
    <h4 class="font dashboardfont  hidden sm:block" style="font-family: 'Tomorrow', sans-serif;"><%=ShowData%></h4>
    <h4 class="font dashboardfont" style="font-family: 'Tomorrow', sans-serif;"><%=ShowNum%></h4>
  </div>
</div>

