<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">ชื่อ</span>
  </label>
  <input
    type="text"
    name="firstName"
    maxlength="50"
    required
    id="firstNamefloatingInput"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">นามสกุล</span>
  </label>
  <input
    type="text"
    name="lastName"
    maxlength="50"
    required
    id="lastNamefloatingInput"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">ที่อยู่</span>
  </label>
  <textarea
    name="address"
    id="addressfloatingInput"
    maxlength="50"
    class="textarea textarea-bordered"
  ></textarea>
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">จังหวัด</span>
  </label>
  <input
    type="text"
    name="city"
    maxlength="50"
    required
    id="cityfloatingSelectGrid"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">อำเภอ</span>
  </label>
  <input
    type="text"
    name="district"
    maxlength="50"
    required
    id="districtfloatingSelectGrid"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">ตำบล</span>
  </label>
  <input
    type="text"
    name="subdistrict"
    maxlength="50"
    required
    id="subdistrictfloatingSelectGrid"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">รหัสไปรษณีย์</span>
  </label>
  <input
    type="tel"
    name="postCode"
    required
    minlength="5"
    maxlength="5"
    pattern="[0-9]{5}"
    id="postCodefloatingSelectGrid"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">เลขบัตรประชาชน</span>
  </label>
  <input
    type="tel"
    name="citizen"
    required
    minlength="13"
    maxlength="13"
    pattern="[0-9]{13}"
    id="citizen"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">เบอร์โทร</span>
  </label>
  <input
    type="tel"
    name="phoneNumber"
    required
    minlength="10"
    maxlength="10"
    pattern="[0]{1}[2,6,8,9]{1}[0-9]{8}"
    id="phoneNumber"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">ธนาคาร</span>
  </label>
  <input
    type="text"
    name="bank"
    maxlength="50"
    required
    id="bankfloatingSelectGrid"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">ชื่อบัญชีธนาคาร</span>
  </label>
  <input
    type="text"
    name="bookBank"
    maxlength="50"
    required
    id="bookBank"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">เลขบัญชีธนาคาร</span>
  </label>
  <input
    type="tel"
    name="bookBankNumber"
    pattern="[0-9]{8,15}"
    maxlength="15"
    required
    id="bookBankNumber"
    class="input input-bordered w-full max-w-xs"
  />
</div>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">สาขาที่เปิดบัญชีธนาคาร</span>
  </label>
  <input
    type="text"
    name="bookBankBranch"
    maxlength="50"
    required
    id="bookBankBranch"
    class="input input-bordered w-full max-w-xs"
  />
</div>
