<a href="/admin/<%=link%>" style="text-decoration: none; color: black;">
  <!-- <label class="label justify-center ">
    <span class="label-text text-lg"><%=context%></span>
  </label> -->
  <div class="container dashboarditems items-center justify-center">
    <i class="fa <%=icon%> icon" style="margin: 0;" aria-hidden="true"></i>
    <h4 class="font dashboardfont hidden sm:block" style="font-family: 'Tomorrow', sans-serif;"><%=context%></h4>
  </div>
</a>

