<a href="/admin/<%=link%>" style="text-decoration: none; color: black;">
    <div class="col-md-3 col-xs-6">
      <div class="container dashboarditems">
        <i class="fa <%=icon%> icon" style="margin: 0;" aria-hidden="true"></i>
        <h4 class="font dashboardfont" style="font-family: 'Tomorrow', sans-serif;"><%=context%></h4>
      </div>
    </div>
</a>

