
  <div class="join">
    <input hidden id="currentPage" value="0">
    <button class="join-item btn page-link">1</button>
    <button class="join-item btn page-link">2</button>
    <button class="join-item btn page-link">3</button>
    <button class="join-item btn page-link">...</button>
  </div>