<div class="grid justify-center gap-4 mb-4">

  <div class="card w-48 bg-secondary shadow-xl">
    <div class="card-body">
      <h2 class="card-title justify-center text-white"><%=day%></h2>
    </div>
  </div>
  <%if(link){%>
  <a href="/<%=link%>" class="btn btn-primary">
    <p
    class="text-white"
    style="font-family: 'Tomorrow', sans-serif; margin: 0; padding: 5px"
  >
    Back
  </p>
  </a>
  <%}%>
</div>
