
<%-include("partials/header.ejs")-%>

<%-include("partials/widget.ejs",{day: day, link: 'admin'})-%>

<div class="container">
  <input hidden id="currentPage" value="0">
  <nav aria-label="..." style="text-align: center;">
    <ul class="pagination pagination-lg">
      <li class="page-item "><a class="page-link" href="">1</a></li>
      <li class="page-item"><a class="page-link" href="">2</a></li>
      <li class="page-item"><a class="page-link" href="">3</a></li>
      <li class="page-item"><a class="page-link" href="">...</a></li>
    </ul>
  </nav>
</div>



<div class="panel panel-default">
  <span id="message"></span>
  <div class="card">
    <div class="card-header">
      <div class="panel-heading">ข้อมูลผู้ใช้</div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <input type="text" class="form-control" id="searchbar" placeholder="Search Data..." style="margin-bottom: 20px; background-color: wheat;"/>
        <!-- Table -->
        <table class="table table-striped table-bordered" id="Table">
          <tr>
            <th>การแก้ไข</th>
            <th>Username</th>
            <th>ชื่อ-นามสกุล</th>
            <th>ที่อยู่</th>
            <th>ธนาคาร</th>
            <th>เงิน</th>
            <th>พ้อย</th>
            
          </tr>
          <tbody id="dataTable">
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="action_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" id="form">
        <div class="modal-header" id="dynamic_modal_title">
          <h5 class="modal-title">Edit Data</h5>
        </div>
        <div class="modal-body">
          <%-include("partials/register_form.ejs")-%>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="username" id="username" />
          <input type="hidden" name="action" id="action" value="Edit" />
          <button type="submit" class="btn btn-primary" id="action_button">
            แก้ไข
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            ยกเลิก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/js/admin_script.js"></script>



<%-include("partials/footer.ejs")-%>