
<%-include("partials/header.ejs")-%>



<div class="container">
  <div class="row">

    <%goods.forEach((element) => { %>
      <%-include("partials/goods.ejs",{
        goodsName: element.goodsName,
        goodsPrice: element.goodsPrice,
        goodsDesc: element.goodsDesc,
        goodsReview: element.goodsReview
      })-%>
    <%}) %>
    
  </div>
</div>




<%-include("partials/footer.ejs")-%>