



<div class="container" style="padding: 25px;">
  <div class="row">

    <%goods.forEach((element) => { %>
      <%-include("partials/goods.ejs",{
        goodsName: element.goodsName,
        goodsDesc: element.goodsDesc,
        goodsImage: element.goodsImage,
        goodsPrice: element.goodsPrice,
        goodsReview: element.goodsReview
      })-%>
    <%}) %>
    
  </div>
</div>


