<%-include("partials/header.ejs")-%>
<div class="container">
      

    <div class="jumbotron"><h1><%=wallet.money%> บาท<h1><hr><%=wallet.point%> point</h1></h1>
      
      

    <p><a class="btn btn-lg btn-success" href="/money/add" role="button">Add Money(+100b)</a></p>
    <p><a class="btn btn-lg btn-success" href="/money/transfer" role="button">Use Point(100p -> 20b)</a></p>
    <p><a class="btn btn-lg btn-success" href="/" role="button">Go Back</a></p>

    </div>

    

    

  </div> <!-- /container -->
  <%-include("partials/footer.ejs")-%>