<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <link rel="icon" href="/images/logo1.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>แบบลงทะเบียน</title>


    <!-- bootstrap sheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/auth_style.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <!-- send POST request -->
      <form
        action="/register"
        method="POST"
        id="registrationForm"
        class="needs-validation"
        autocomplete="off"
        novalidate
      >
      <div class="row">
        <div clsas="col">
          <img src="/images/logo1.png" class="img-fluid" style="margin-left: 50px; height: auto; width: 250px;">
        </div>
      </div>
        <p></p>

        <h1 class="h3 mb-3 fw-bold">แบบลงทะเบียน</h1>

        <div class="input-group">
          <div class="form-floating">
            <input
              type="text"
              name="username"
              class="form-control top"
              id="usernamefloatingInput"
              placeholder="Username"
              aria-describedby="button-addon2"
              value="<%=userNum%>"
              required
              autofocus
              readonly
            />
            <label for="usernamefloatingInput">Username</label>
          </div>
        </div>

        <div class="row g-0">
          <div class="col-6">
            <div class="form-floating">
              <input
                type="text"
                name="firstName"
                class="form-control middle"
                id="firstNamefloatingInput"
                placeholder="First Name"
                maxlength="50"
                required
              />
              <label for="firstNamefloatingInput">ชื่อ</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <input
                type="text"
                name="lastName"
                class="form-control middle"
                id="lastNamefloatingInput"
                placeholder="Last Name"
                maxlength="50"
                required
              />
              <label for="lastNamefloatingInput">นามสกุล</label>
            </div>
          </div>
        </div>





        <div class="form-floating">
          <textarea
            name="address"
            class="form-control middle loadaddress"
            id="addressfloatingInput"
            placeholder="Last Name"
            required
          ></textarea>
          <label for="addressfloatingInput">ที่อยู่</label>
        </div>

        <div class="row g-0">
          <div class="col-6">
            <div class="form-floating">
              <select
                name="city"
                class="form-select middle"
                id="cityfloatingSelectGrid"
                placeholder="City"
                
                required
              ><option selected hidden>จังหวัด</option></select>
              <label for="cityfloatingSelectGrid">จังหวัด</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating">
              <select
                name="district"
                class="form-select middle"
                id="districtfloatingSelectGrid"
                placeholder="District"
                required
              ><option selected hidden>อำเภอ</option></select>
              <label for="districtfloatingSelectGrid">อำเภอ</label>
            </div>
          </div>
        </div>

        <div class="row g-0">
          <div class="col-6">
            <div class="form-floating">
              <select
                name="subdistrict"
                class="form-select bottom"
                id="subdistrictfloatingSelectGrid"
                placeholder="Subdistrict"
                required
              ><option selected hidden>ตำบล</option></select>
              <label for="subdistrictfloatingSelectGrid">ตำบล</label>
            </div>
          </div>

          <div class="col-6">
            <div class="form-floating">
              <select
                name="postCode"
                class="form-select bottom"
                id="postCodefloatingSelectGrid"
                placeholder="Post Code"
                required
              ><option selected hidden>รหัสไปรษณีย์</option></select>
              <label for="postCodefloatingSelectGrid">รหัสไปรษณีย์</label>
            </div>
          </div>
        </div>

        <p></p>
        <div class="form-floating">
          <input
            type="tel"
            name="citizen"
            class="form-control top"
            id="citizen"
            placeholder="Citizen Code"
            minlength="13"
            maxlength="13"
            pattern="[0-9]{13}"
            required
          />
          <label for="citizen">เลขบัตรประชาชน</label>
          <div class="invalid-tooltip">เลขบัตรประชาชนผิดพลาด.</div>
        </div>

        <div class="form-floating">
          <input
            type="tel"
            name="phoneNumber"
            class="form-control bottom"
            id="phoneNumber"
            placeholder="Phone Number"
            minlength="10"
            maxlength="10"
            pattern="[0]{1}[2,6,8,9]{1}[0-9]{8}"
            required
          />
          <label for="phoneNumber">เบอร์โทร</label>
          <div class="invalid-tooltip">เบอร์โทรผิดพลาด.</div>
        </div>
        <p></p>
        <p></p>
          <div class="form-floating">
            <select
              name="bank"
              class="form-select top"
              id="bankfloatingSelectGrid"
              placeholder="Bank"
              required
            >
            <option value="ธนาคารอิสลามแห่งประเทศไทย">ธนาคารอิสลามแห่งประเทศไทย</option>
            <option value="ธนาคารอาคารสงเคราะห์">ธนาคารอาคารสงเคราะห์</option>
            <option value="ธนาคารเพื่อการส่งออกและนำเข้าแห่งประเทศไทย">ธนาคารเพื่อการส่งออกและนำเข้าแห่งประเทศไทย</option>
            <option value="ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร">ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร</option>
            <option value="ธนาคารพัฒนาวิสาหกิจขนาดกลางและขนาดย่อมแห่งประเทศไทย">ธนาคารพัฒนาวิสาหกิจขนาดกลางและขนาดย่อมแห่งประเทศไทย</option>
            <option value="ธนาคารยูโอบี">ธนาคารยูโอบี</option>
            <option value="ธนาคารทิสโก้">ธนาคารทิสโก้</option>
            <option value="ธนาคารซีไอเอ็มบีไทย">ธนาคารซีไอเอ็มบีไทย</option>
            <option value="ธนาคารทหารไทยธนชาต">ธนาคารทหารไทยธนชาต</option>
              <option value="ธนาคารกรุงเทพ">ธนาคารกรุงเทพ</option>
              <option value="ธนาคารกรุงไทย">ธนาคารกรุงไทย</option>
              <option value="ธนาคารออมสิน">ธนาคารออมสิน</option>
              <option value="ธนาคารกรุงศรีอยุธยา">ธนาคารกรุงศรีอยุธยา</option>
              <option value="ธนาคารกสิกรไทย">ธนาคารกสิกรไทย</option>
              <option value="ธนาคารทหารไทยธนชาต">ธนาคารทหารไทยธนชาต</option>
              <option value="ธนาคารซีไอเอ็มบี">ธนาคารซีไอเอ็มบี</option>
              <option value="ธนาคารไทยพาณิชย์">ธนาคารไทยพาณิชย์</option>
              <option value="ธนาคารสแตนดาร์ดชาร์เตอร์ด">ธนาคารสแตนดาร์ดชาร์เตอร์ด</option>
              <option value="ธนาคารยูโอบี">ธนาคารยูโอบี</option>
              <option value="ธนาคารทิสโก้">ธนาคารทิสโก้</option>
              <option value="ธนาคารเกียรตินาคินภัทร">ธนาคารเกียรตินาคินภัทร</option>
              <option value="ธนาคารแลนด์ แอนด์ เฮ้าส์">ธนาคารแลนด์ แอนด์ เฮ้าส์</option>
              <option value="ธนาคารไอซีบีซี">ธนาคารไอซีบีซี</option>
              <option value="ธนาคารไทยเครดิตเพื่อรายย่อย">ธนาคารไทยเครดิตเพื่อรายย่อย</option>
              <option value="ธนาคารเมกะ สากลพาณิชย์">ธนาคารเมกะ สากลพาณิชย์</option>
              <option value="ธนาคารแห่งประเทศจีน">ธนาคารแห่งประเทศจีน</option>
              <option value="ธนาคารซูมิโตโมมิตซุยทรัสต์">ธนาคารซูมิโตโมมิตซุยทรัสต์</option>

            </select>
            <label for="bankfloatingSelectGrid">ธนาคาร</label>
          </div>
        </div>
      

        <div class="form-floating">
          <input
            type="text"
            name="bookBank"
            class="form-control middle"
            id="bookBank"
            placeholder="Book Bank Name"
            required
          />
          <label for="bookBank">ชื่อบัญชีธนาคาร</label>
        </div>
        <div class="form-floating">
          <input
            type="tel"
            name="bookBankNumber"
            class="form-control middle"
            id="bookBankNumber"
            placeholder="Book Bank Number"
            minlength="8"
            required
          />
          <label for="bookBankNumber">เลขบัญชีธนาคาร</label>
          <div class="invalid-tooltip">เลขบัญชีธนาคารผิดพลาด.</div>
        </div>
        <div class="form-floating">
          <input
            type="text"
            name="bookBankBranch"
            class="form-control bottom"
            id="bookBankBranch"
            placeholder="Book Bank Branch"
            required
          />
          <label for="bookBankBranch">สาขาที่เปิดบัญชีธนาคาร</label>
        </div>
        <p></p>
        <div class="form-floating">
          <input
            type="password"
            name="password"
            class="password form-control top"
            id="password"
            placeholder="Password"
            minlength="4"
            maxlength="4"
            required
          />
          <label for="password">รหัสผ่าน</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="passwordCheck"
            class="passwordCheck form-control bottom"
            id="passwordCheck"
            placeholder="Password"
            minlength="4"
            maxlength="4"
            required
          />
          <label for="passwordCheck">ยืนยันรหัสผ่าน</label>
          <div class="invalid-tooltip">รหัสผ่านไม่ตรง.</div>
        </div>
        <p></p>
        <div class="form-floating">
          <input
            type="text"
            name="sponsor"
            class="form-control"
            id="floatingInput"
            placeholder="Sponsor"
            value="<%=sponsor%>"
            <%if(sponsor){%>
              readonly 
            <%}%>
            />
          <label for="floatingInput">Sponsor</label>
        </div>
        <p></p>

        <button type="submit" class="w-100 btn btn-lg btn-primary">
          ลงทะเบียน
        </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">ยืนยันข้อมูล</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>ชื่อผู้ใช้ของคุณคือ :</p><p id="usernameConfirm"></p>
              <p>รหัสผ่านของคุณคือ :</p><p id="passwordConfirm"></p>
              <p>กรุณาบันทึกหน้าจอ / จดบันทึกข้อมูลของคุณเพื่อการเข้าสู่ระบบ</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button id="confirm" type="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </div>
        </div>
      </div>
    </form>

        <p class="mt-5 mb-3 text-body-secondary">
          มีบัญชีผู้ใช้อยู่แล้ว? <a href="/login">ล๊อกอิน!</a>
        </p>

    </main>


  </body>

  <!-- Favicons -->
  <script
    src="https://kit.fontawesome.com/147e879dd5.js"
    crossorigin="anonymous"
  ></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


  <script>
    $(()=> {

      const thailand = <%-JSON.stringify(thailand)%>;
        const city=[]
        const district=[]
        thailand.forEach((element)=>{
          city.push(element.ProvinceThai)
          district.push(element.DistrictThaiShort)
        })
        const uniqueCity = [...new Set(city)];
        const uniqueDistrict = [...new Set(district)];

        uniqueCity.forEach((element)=>{
          $('#cityfloatingSelectGrid').append('<option value='+element+'> '+element+'</option>')
        })

        

        uniqueCity.forEach((province)=>{
        $('#districtfloatingSelectGrid').append('<optgroup label='+province+' data-id='+province+'></optgroup>')
          const district=[]
          thailand.forEach((element)=>{
            if(element.ProvinceThai==province){
              district.push(element.DistrictThaiShort)
            }
          })
          const sortDistrict = [...new Set(district)];
          sortDistrict.forEach((element)=>{
            $('#districtfloatingSelectGrid optgroup[data-id="'+province+'"]').append('<option value='+element+'>'+element+'</option>')
          })
        })



        uniqueDistrict.forEach((district)=>{
        $('#postCodefloatingSelectGrid').append('<optgroup label='+district+' data-id='+district+'></optgroup>')
          const postlist=[]
          thailand.forEach((element)=>{
            if(element.DistrictThaiShort==district){
              postlist.push(element.PostCodeMain)
            }
          })
          const sortPostcode = [...new Set(postlist)];
          sortPostcode.forEach((element)=>{
            $('#postCodefloatingSelectGrid optgroup[data-id="'+district+'"]').append('<option value='+element+'>'+element+'</option>')
          })
        })

      $('.loadaddress').one('focus',()=> {
        uniqueDistrict.forEach((district)=>{
        $('#subdistrictfloatingSelectGrid').append('<optgroup label='+district+' data-id='+district+'></optgroup>')
          thailand.forEach((element)=>{
            if(element.DistrictThaiShort==district){
              $('#subdistrictfloatingSelectGrid optgroup[data-id="'+district+'"]').append('<option value='+element.TambonThaiShort+'>'+element.TambonThaiShort+'</option>')
            }
          })
        })
      })
      
      
    })
  </script>

<script src="/js/auth_script.js"></script>
</html>
