<%-include("partials/header.ejs")-%>

<%-include("partials/widget.ejs",{day: day, link: 'admin'})-%>


<div class="container dashboard" style="padding: 25px; margin-bottom: 25px; margin-top: 25px;">
  <div class="row">
    <%allTree.forEach((e)=>{%> <%-include('admintools/usertree.ejs',{user: e.username})-%> <%})%>
  </div>
</div>


<%-include("partials/footer.ejs")-%>
