html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#B8F170;
}

label{
  color: white  ;
}

.btn{
  background-color: #BC17F7;
}

.form-floating{
  color: #1C3F1C;
}

.form-control{
  background-color: #1C3F1C;
  color: white;
}

.form-control:focus{
  background-color: #1C3F1C;
  color: white;
}

.form-select{
  background-color: #1C3F1C;
  color: white;
}

.form-select:focus{
  background-color: #1C3F1C;
  color: white;
}



.form-signin {
  max-width: 500px;
  padding: 15px
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
