html {
  background-color: #b8f170;
}

body{
  background-color: #b8f170;
}

h3{
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 5;
}

h1{
  font-size: xx-large;
}

td,th{
  font-size: large;
}

.dashboard  ,.navbar {
  background-color: whitesmoke;
}

.dashboarditems,.smallmlm,.mlmcontainer,.commissionbox{
  background-color: white;
}

.icon,.font{
  color: #1c3f1c;
}


.dashboard{
  flex:auto;
  border-radius: 25px;
  padding: 25px;
  border: 1.5px solid black;
  overflow: auto;
  margin-bottom: 25px;
}

.dashboarditems {
  border-radius: 25px;
  padding: 25px;
  margin: auto;
  border: 1.5px solid black;
  max-width: 200px;
  max-height: 200px;
  min-width: 120px;
  min-height: 120px;
  text-align: center;
  margin-bottom: 25px;
}

.dashboardfont{
  font-size: 25px;
}

.smallmlm {
  border-radius: 100px;
  border-color: black;
  max-width: 500px;
  max-height: 350px;
  min-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  padding: 25px;
  border: 1.5px solid black;
}

.mlmcontainer {
  border-radius: 25px;
  border-color: black;
  overflow: auto;
  margin: auto;
  margin-bottom: 20px;
  padding: 25px;
  border: 1.5px solid black;
  margin-top: 25px;
}

.mlmrow {
  text-align: center;
  min-width: 670px;
}

.panel-label {
  color: black;
  text-align: center;
}
.commissionbox {
  font-family: "Tomorrow", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 18.1px;

  margin: auto;

  color: red;
  text-align: center;

  width: 248px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.daybox {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 18.1px;

  margin: auto;
  background-color: #1c3f1c;
  color: white;
  text-align: center;

  width: 248px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 767px) {
  body {
    padding-bottom: 25px;
  }

  footer {
    display: none;
  }

  .dashboard{
    flex:auto;
    margin-bottom: 25px;

  }

  .dashboardfont{
    display: none;
  }

  .dashboarditems{
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .daybox{
    width: 150px;
    line-height: 30px;
  }
}

.swal2-popup {
  font-size: 1.6rem !important;
}