body {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #b8f170;
}

footer,.dashboard,.navbar {
  background-color: whitesmoke;
}

.dashboarditems,.smallmlm,.mlmcontainer,.commissionbox{
  background-color: white;
}

.icon,.font{
  color: #1c3f1c;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.dashboard{
  border-radius: 25px;
  padding: 25px;
  border: 1.5px solid black;
}

.dashboarditems {
  border-radius: 25px;
  padding: 25px;
  margin: auto;
  border: 1.5px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 25px;
}

.smallmlm {
  border-radius: 100px;
  border-color: black;
  max-width: 500px;
  max-height: 350px;
  min-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  padding: 25px;
  border: 1.5px solid black;
}

.mlmcontainer {
  border-radius: 25px;
  border-color: black;
  overflow: auto;
  margin: auto;
  margin-bottom: 20px;
  padding: 25px;
  border: 1.5px solid black;
  margin-top: 25px;
}

.mlmrow {
  text-align: center;
  min-width: 670px;
}

.panel-label {
  color: black;
  text-align: center;
}
.commissionbox {
  font-family: "Tomorrow", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 18.1px;

  margin: auto;

  color: red;
  text-align: center;

  width: 248px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.navbar {
  display: flex;
  align-items: center;
}

.daybox {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 18.1px;

  margin: auto;
  background-color: #1c3f1c;
  color: white;
  text-align: center;

  width: 248px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 767px) {
  body {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  footer {
    display: none;
  }

  .dashboard{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .dashboarditems {

  }
}