<li > 
  <a
  href="/admin"
  class="btn btn-ghost"><i class="fa fa-eye fa-md "></i>
  Dashboard</a
>
</li>

<li >
  <a
  href="/admin/userdata"
  class="btn btn-ghost btn-md rounded-btn"><span ><span class="fa fa-table fa-md"></span> Users Data</span></a
>
</li>

<li >
  <a
  href="/admin/tree"
  class="btn btn-ghost btn-md rounded-btn"><span ><span class="fa fa-timeline fa-md"></span> Users Tree</span></a
>
</li>

<li >
  <a
  href="/admin/ordersdata"
  class="btn btn-ghost btn-md rounded-btn"><span ><span class="fa fa-cubes fa-md"></span> Orders Data</span></a
>
</li>



<li >
  <a
    href="/logout"
    class="btn btn-ghost btn-md rounded-btn"><Logout >Logout</span></a
  >
  </li>

