<li >
<a
  href="/login"
  class="btn btn-ghost btn-lg rounded-btn"><span class="mt-3">Login</span></a
>
</li>

<li>
  <a
  href="/register"
  class="btn btn-ghost btn-lg rounded-btn"><span class="mt-3">Register</span></a
>
</li>

