<li >
<a
  href="/login"
  class="btn btn-ghost btn-md rounded-btn"><span >Login</span></a
>
</li>

<li>
  <a
  href="/register"
  class="btn btn-ghost btn-md rounded-btn"><span >Register</span></a
>
</li>

