
<%-include("../partials/widget.ejs",{day: day, link: 'user'})-%>

<div class="container mlmcontainer">
  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <a href="/user">
        <i class="fa-solid fa-person fa-7x" style="color: red"></i>
        <h1><%=userName.username%></h1>
      </a>
    </div>
  </div>
  
  <div class="row" style="text-align: center">
    <%children.forEach((element)=>{%>
    <div class="col-xs-1" style="width: 12.499999995%">
      <a href="/user/<%=element.username%>">
        <i class="fa-solid fa-person fa-6x" style="color: darkorange"></i>
        <p style="font-size: 30px"><%=element.username%></p>
      </a>
    </div>
    <%})%>
  </div>
</div>




