

<%-include("../partials/widget.ejs",{day: day, link: 'admin'})-%>


<%-include("../partials/pagination.ejs")-%>


<div class="container overflow-auto mb-4 p-0">
  <%-include("../partials/searchbar.ejs")-%>
  <table class="table bg-white text-center">
    <tr>
      <th >การแก้ไข</th>
      <th >Username</th>
      <th >ชื่อ-นามสกุล</th>
      <th >ที่อยู่</th>
      <th >ธนาคาร</th>
      <th >เงิน</th>
      <th >พ้อย</th>
    </tr>
    <tbody id="dataTable">
    </tbody>
  </table>
</div>


<dialog class="modal" id="action_modal">
  <form method="post" id="form" class="modal-box">
    <h5>แก้ไขข้อมูล</h5>
    <%-include("admintools/register_form.ejs")-%>
    <input type="hidden" name="username" id="username" />
    <input type="hidden" name="action" id="action" value="Edit" />
    <div class="modal-action">
      <button type="submit" class="btn btn-error" id="action_button" onclick="action_modal.close()"
      >
        แก้ไข
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        onclick="action_modal.close()"
      >
        ยกเลิก
      </button>
    </div>
  </form>
</dialog>



<script src="/js/datatable_script.js"></script>



