
<%-include("../partials/widget.ejs",{day: day, link: 'admin'})-%>

<%-include("../partials/pagination.ejs")-%>



<div class="container dashboard" style="padding: 25px; margin-bottom: 25px; margin-top: 25px;">
  <input type="text" class="input input-bordered border-opacity-100 w-full max-w-lg bg-slate-100 mx-20 mb-12" id="searchbar" placeholder="Search Data..."/>

  <div class="row" id="tree">
  </div>
</div>


<script src="/js/tree_script.js"></script>
