
<%-include("../partials/widget.ejs",{day: day, link: 'admin'})-%>

<%-include("../partials/pagination.ejs")-%>


<input type="text" class="form-control" id="searchbar" placeholder="Search Data..." style="margin-bottom: 20px; background-color: wheat;"/>

<div class="container dashboard" style="padding: 25px; margin-bottom: 25px; margin-top: 25px;">
  <div class="row" id="tree">
  </div>
</div>


<script src="/js/tree_script.js"></script>
